* {
    margin: 0;
    padding: 0;
    color: #dfdfdf;
}

header {
    background: rgba(0, 0, 0, .3);
    padding: .5rem;
    border-bottom: #00ff00 solid .1rem;
}

body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

ol {
    list-style-position: inside;
}

li {
    margin-top: .3rem;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

#overlayPreview {
    max-height: 6rem;
    max-width: 24rem;
    width: 80vw;
    height: 20vw;
}

#selectedKey {
    border: rgba(0, 0, 0, .7) solid .2rem;
    background: rgba(0, 0, 0, .1);
    padding: .25rem .5rem;
    border-radius: .5rem;
    outline: none;
}

#selectedKey:hover {
    background: rgba(0, 0, 0, .2);
}

#randomKey {
    display: inline-block;
    border: rgba(0, 0, 0, .7) .2rem solid;
    background: rgba(0, 0, 0, .2);
    padding: .25rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
    user-select: none;
}

#randomKey:hover {
    background: rgba(0, 0, 0, .4);
}

#randomKey:active {
    background: rgba(0, 0, 0, .6);
}

#results {
    display: none;
}

#url, #key {
    font-size: 1.1rem;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
}

.pushDown {
    margin-top: .5rem;
}

.pushDown2x {
    margin-top: 1rem;
}

.pushDown4x {
    margin-top: 2rem;
}

#officiallySupportedSites {
    width: 60rem;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#officiallySupportedSites a {
    background: rgba(0, 0, 0, .3);
    border: #000000 solid .1rem;
    text-decoration: none;
    border-radius: .5rem;
    padding: .25rem .5rem;
    margin: .25rem;
    user-select: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#officiallySupportedSites a:hover {
    background: rgba(0, 0, 0, .5);
}

#HTMLAgentConfigs {
    width: 60rem;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.configBTN {
    background: rgba(0, 0, 0, .3);
    border: #000000 solid .1rem;
    border-radius: .5rem;
    padding: .25rem .5rem;
    margin: .25rem;
    user-select: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.configBTN:hover {
    background: rgba(0, 0, 0, .5);
}

#HTMLAgentCopyResponse {
    background: rgba(0, 0, 0, .5);
    border: #000000 solid .1rem;
    padding: .1rem .2rem;
    border-radius: .5rem;
    user-select: none;
    font-size: .75rem;
    color: #00ff00;
    opacity: 0;
}