<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <h1>Status:</h1>
    <h4>{{statusMessage}}</h4>
    <form action="/setStatus" method="POST">
        <input name="status" type="text">
        <button type="submit">Update status</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>