<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTTPS Error</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: .5rem;
        }

        h1 {
            margin-top: 1rem;
            margin-bottom: .3rem;
        }
    </style>
</head>
<body>
    <p>Check console for pong</p>
    <button>Send ping</button>
    <h1>requirements.txt (current)</h1>
    <p>
        click==7.1.2<br>
        Flask==1.1.2<br>
        Flask-SocketIO==4.3.0<br>
        gevent==20.5.0<br>
        gevent-websocket==0.10.1<br>
        greenlet==0.4.15<br>
        itsdangerous==1.1.0<br>
        Jinja2==2.11.2<br>
        MarkupSafe==1.1.1<br>
        <span style="color: red;">python-engineio==3.12.1</span><br>
        python-socketio==4.5.1<br>
        six==1.14.0<br>
        Werkzeug==1.0.1
    </p>
    <h1>functional requirements.txt</h1>
    <p>
        click==7.1.2<br>
        Flask==1.1.2<br>
        Flask-SocketIO==4.3.0<br>
        gevent==20.5.0<br>
        gevent-websocket==0.10.1<br>
        greenlet==0.4.15<br>
        itsdangerous==1.1.0<br>
        Jinja2==2.11.2<br>
        MarkupSafe==1.1.1<br>
        <span style="color: green;">python-engineio==3.9.0</span><br>
        python-socketio==4.5.1<br>
        six==1.14.0<br>
        Werkzeug==1.0.1
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
