<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazaar | MusicLink</title>
    <link rel="stylesheet" href="/static/css/MusicLink.css">
</head>
<body>
    <header>
        <h1>MusicLink</h1>
    </header>
    <div class="flexCenter center pushDown">
        <h2>Multi source compatible music overlay!</h2>
        <iframe src="/MusicLink/overlay/preview?previewmode=true" frameborder="0" id="overlayPreview" class="pushDown"></iframe>
        <h1 class="pushDown2x">Get started today!</h1>
        <ol class="center">
            <li>Find a supported source</li>
            <li>Generate your room id and URL underneath</li>
            <li>Paste the URL in OBS, begin with a width of 400 and a height of 100 then modify to your preference</li>
        </ol>
        <h1 class="pushDown2x">Generate key and URL:</h1>
        <input type="text" id="selectedKey" class="pushDown" placeholder="select key">
        <div id="randomKey" class="pushDown">Random key</div>
        <div id="results" class="center pushDown">
            <h3>Room id:</h3>
            <p id="key"></p>
            <h3>URL:</h3>
            <a id="url"></a>
        </div>
        <div class="pushDown4x">
            <h1 class="center">Officially supported services:</h1>
            <div id="officiallySupportedSites">
                <a href="https://yazaar.github.io/CustomYouTubePlayer" target="_blank" rel="noopener noreferrer">Yazaar's CustomYouTubePlayer</a>
            </div>
        </div>
        <div class="pushDown2x flexCenter">
            <h1 class="center">Custom service:</h1>
            <p>To use a custom service check out my <a href="https://chrome.google.com/webstore/detail/html-agent/lbcelgpefmbllnhhlbgpkompbhmfblpi" target="_blank" rel="noopener noreferrer">chrome extension</a> to create custom configurations for any website!</p>
            <ol class="center">
                <li>Install my chrome extension <a href="https://chrome.google.com/webstore/detail/html-agent/lbcelgpefmbllnhhlbgpkompbhmfblpi" target="_blank" rel="noopener noreferrer">here</a></li>
                <li>Set the SocketIO event to overlayUpdate</li>
                <li>Set the SocketIO host to <a href="https://yazaar.herokuapp.com" target="_blank" rel="noopener noreferrer">https://yazaar.herokuapp.com</a></li>
                <li>Hit connect and make sure it connects successfully</li>
                <li>Select a room id above</li>
                <li>Add a browser source to your recording/streaming software with the generated URL, would recommend width 400 height 100 but modify to your preference</li>
                <li>Copy one of the imports underneath and paste it in the import preset field, then hit import (or create your own)</li>
                <li>Make sure the status is ON and go to the tab you would like to capture, then hit inject current tab (keep auto inject OFF)</li>
            </ol>
            <h2 class="pushDown">Imports for the chrome extension:</h2>
            <p id="HTMLAgentCopyResponse" class="pushDown">COPY COMPLETE</p>
            <div id="HTMLAgentConfigs">
                <div class="configBTN" data-site="youtube">YouTube.com</div>
                <div class="configBTN" data-site="soundcloud">SoundCloud.com</div>
            </div>
        </div>
    </div>
    <script src="/static/js/MusicLink.js"></script>
</body>
</html>